@import url(../../../../css/css-file-icons.css);
.dlg3box{float:left;border:1px solid #ccc;background:white;padding-bottom:30px;width:23.8%;margin:0 1% 20px 0;text-align: center;}
.dlg3headimg{height:10em;vertical-align:middle;background-color:#efefef}
.dlg3headimg img{width:100%}
.dlg3title a{color:#c00;text-decoration:none;}
.dlg3foot a{padding:5px 15px;border-radius: 5px;text-decoration:none;color:#fff;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: #1e5799; /* Old browsers */
background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */}
.dlg3foot a:hover {color:#c00}
.dlg3hide {opacity:.5}